<!DOCTYPE html>

<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Reminders</h1>
                <p>
                    <a href="{% url 'edit_list' list_detail.id %}">Edit</a>
                    <div>
                        <p>
                            <a href="{% url 'delete_list' list_detail.id %}">Delete</a>
                        </p>
                    </div>
                 </p>
                <h2>Task</h2>
            </div>
            <table>
                <tread>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </tread>
                <tbody>
                    <!--This part is gotten from the views.py-->
                    <!--The todo is the value we're putting so
                        its the same through out the html-->
                    {% for todo in list_detail.items.all %}
                        <tr>
                            <!--This part is gotten from the model.py-->
                            <td>{{ todo.task }}</td>
                            <td>{{ todo.due_date|date:"M d, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
