<!DOCTYPE html>

<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url "create_list" %}">Create a new list</a>
                </p>
            </div>
            <table>
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thread>
                <tbody>
                    {% for todo in todo_list %}
                        <tr>
                            <td>
                                <a href="{% url "list_detail" todo.id %}">{{ todo.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
